
* {
    margin: 0;
    padding: 0;
}

body, html {
    background-image: url("images/wallpapers/default.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    background-color: #708090;
  }



svg path {
    fill: #4b4b4b;
    stroke: rgb(0, 0, 0);
    stroke-width: .50;

}


.rosita {
    z-index: 1;
    position: relative;
    max-height: 100vh;
    display: block;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;    
    user-select: none;
}

.toMapButton {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    left: 10%;
    padding: 5px 16px; 
    text-decoration: none;
    font-size: 20px;
    border-style: solid;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}

.toMapButton:hover {
    animation: colorChange 5s infinite;
    background-color: lightskyblue;
}

@keyframes colorChange {
    0%   {background-color: lightskyblue;}
    25%  {background-color: lightseagreen;}
    50%  {background-color: #0084ff;}
    75%  {background-color: lightseagreen;}
    100% {background-color: lightskyblue;}
  }


@keyframes colorChange2 {
    from {background-color: white;}
    to {background-color: lightskyblue;}
  }


.clickable {
    fill: darkgrey;
}

.clickable:hover {
    fill: lawngreen;
    transition: 0.6s;
    cursor: pointer;
}
